@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido, @ViewBag.NombreUsuario</h1>
    <p>Has iniciado sesión correctamente en el sistema.</p>
</div>
<form asp-action="Logout" method="post">
    <button type="submit">Cerrar Sesión</button>
</form>
